{
    "presets": ["es2015-node4", "stage-1"],
    "plugins": [
        "add-module-exports",
        [
            "transform-runtime",
            { "polyfill": true, "regenerator": true }
        ],
        [
            "transform-async-to-module-method",
            { "module": "bluebird", "method": "coroutine" }
        ]
    ]
}
